.pageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1%;
}
.profileWrapper{
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10%;   
}
.leftColumn{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.profilePhoto{
    border-radius: 50%;
}
.rightColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.textSpan{
    margin-left: 20px;
}
.editInfoForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.inputField{
    width: 250px;
    margin-left: 20px;
}

@media screen and (max-width: 500px){
    .profileWrapper{
        display: flex;
        flex-direction: column;
    }
    .rightColumn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}