.front-page {
  position: relative;
  background-color: white;
}
.front-page video {
  width: 100%;
  display: block;
  background-color: white;
}
.front-page:before {
  content: "";
  position: absolute;
  height: 75vh;
  margin: 5px 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vid-container {
  text-align: center;
  color: white;
  background-color: white;
}
#myVideo{
  background-color: white;
  
}
.titleContainer{
  z-index: 2;
  position: absolute;
  top: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  animation-name: moveTitle;
  animation-duration: 3s;
}
.minerzTitle{
  margin-bottom: 0;
  font-size: 6vw;
}
.minerzSubtitle{
  margin-top:0;
  font-size: 2vw;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 25px 0;
  width: 100%;
}
.contentContainer{
  display: flex;
}
.imageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}
.miningImage {
  margin: 10px 0px;
  height: auto;
  width: 40vw;
  box-shadow: 3px 3px 3px 3px darkgrey;
  border-radius: 10px;
  border: 1px solid white;
}
.contentTextWrapper{
  height: 300px;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1px 20px;
}
.textContentTitle{
  font-size: 2.5vw;
  text-align: center;
}
.textContentSubtitle{
  font-size: 2vw;
  text-align: center;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
button {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
  margin: 10px 5px !important;
  height: 50px;
  border-radius: 3px;
}

@keyframes moveTitle {
  from {left: 100%; opacity: 0}
  to { left: 0px}
}

@media screen and (max-width: 770px){
  .contentContainer{
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .contentContainer2{
    flex-direction: column-reverse;
  }
  .contentTextWrapper{
    justify-content: flex-start;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 90%;
  }
  .textContentTitle{
    font-size: 5vw;
  }
  .textContentSubtitle{
    font-size: 4vw;
  }
  .imageContainer{
    width: 90%;
  }
  .miningImage {
    margin: 0px 0px;
    height: auto;
    width: 70vw;
  }
}