.front-page {
  position: relative;
  background-color: white;
}
.front-page video {
  width: 100%;
  min-height: 80vh;
  display: block;
}
.front-page:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  height: 75vh;
  margin: 5px 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vid-container {
  position: relative;
  text-align: center;
  color: white;
}
.title {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.slogan {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fr {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.fr img {
  margin: 10px 20px;
  height: 300px;
  width: 500px
}
.fr-content h3,
.fr-content h5 {
  display: flex;
  justify-content: center;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
button {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
  margin: 10px 5px !important;
  height: 50px;
  border-radius: 3px;
}


