.about-container h1,
.about-container h3{
    display: flex;    
    justify-content: center;
}
.mining-rig{
    height: 400px;
}
.about li{
    word-wrap: break-word;
}
.conclusion{
    align-items: center;
}