.container h1,
.container h3{
    display: flex;    
    justify-content: center;
}
.title{
    text-align: center;
}
.mining-rig{
    width: 40vw;
    border-radius: 10px;
}
.about li{
    word-wrap: break-word;
}
img{
    max-width: 100%;
    height: auto;
}
/* .conclusion{
    align-items: center;
} */
@media screen and (max-width: 991px) {
    .mining-rig{
        width: 55vw;
    }
}