.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
    width: 50px;
    margin: 0 10px;

}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbarName{
    text-transform: capitalize;
}
.profileIcon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}