.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
    width: 50px;
    margin-right: 60px;

}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: red;
}